.header_style{
    align-content: center;
    background-color: grey;
}
.header_style #change_h1{
  color:red;
}
.image_style {
    border-radius: 20px;
    border-color: rgb(61, 61, 21);
    border-width: 10px;
    border-style: solid;
    width: 30%; 
    height: 30%;
  }

  #footer { 
    display: block;
    padding: 20%;
    background-color: black;
    color: white;
  }
  